#chatbox{
    width: 100%;
}
#TextToSend{
    width: 66.5%;
}

textarea {
    resize: none;
}
body{
    width: 100%;  
    min-height: 100vh;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}
